<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 mt-4 d-flex flex-column justify-content-center">
      <div class="row text-center">
        <div class="col-4">
          <a href="https://www.linkedin.com/in/pedro-gonoring/" target="_blank" class="contact-animation"><label class="contact-head icon-aux"><i class="bi bi-linkedin"></i> Linkedin</label></a>
        </div>
        <div class="col-4">
          <a href="https://github.com/pedrogonoring1" target="_blank" class="contact-animation"><label class="contact-head"><i class="bi bi-github"></i> GitHub</label></a>
        </div>
        <div class="col-4">
          <a href="mailto:pedrogonoringdev@gmail.com" class="contact-animation"><label class="contact-head-email"><i class="bi bi-envelope-fill"></i> Email</label></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <img src="assets/profile-on.png"
    alt="foto do desenvolvedor Pedro Gonoring"
    class="img-fluid d-block d-md-none mt-5">
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-12">
          <h1 class="title-developer"><strong>Pedro </strong>  <label class="last-name"> Gonoring,</label></h1>
        </div>
        <div class="col-12 col-md-7">
          <p class="paragraph-developer">
            um desenvolvedor que tem a habilidade de transformar
            linhas de código em inovação, solucionando problemas
            complexos com a criatividade e a técnica de um
            verdadeiro artesão digital.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-6">
              <label class="info-experience">{{totalAnoExperiencia}}</label>
              <label class="label-experience">ANOS DE <br> EXPERIÊNCIA</label>
            </div>
            <div class="col-6">
              <label class="info-experience">+15</label>
              <label class="label-experience">PROJETOS <br> CRIADOS</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-none d-md-block text-center">
      <img src="assets/profile-on.png"
      alt="foto do desenvolvedor Pedro Gonoring"
      class="img-fluid img-developer-md">
    </div>
  </div>
</div>
