:host {
  display:block;
  background-color: #606060;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.text-paragraph {
  color: #c0c0c0;
}

.btn-see-all {
  color: white;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;

  border-radius: 10px;
  width: 270px;
  background-color: #2e2e2e;
  border: none;
  height: 50px;
  opacity: 70%;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
}

.btn-see-all:hover {
  opacity: 50%;
}

.contact-email {
  color: #44DA77;
  cursor: pointer;
}

.text-credit {
  color: rgb(163, 163, 163);
}
