<div class="container">

  <div class="row text-center">
    <div class="col-12 mt-5">
      <h5 class="text-paragraph">Transformando ideias em realidade através da programação.</h5>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class="col-12">
      <a href="mailto:pedrogonoringdev@gmail.com" target="_blank"><button class="btn btn-dark btn-see-all contact-email" type="button"><i class="bi bi-envelope-fill"></i> E-mail</button></a>
      <a href="https://www.linkedin.com/in/pedro-gonoring/" target="_blank"><button class="btn btn-dark btn-see-all" type="button"><i class="bi bi-linkedin"></i> Linkedin</button></a>
      <a href="https://github.com/pedrogonoring1" target="_blank"><button class="btn btn-dark btn-see-all" type="button"><i class="bi bi-github"></i> Github</button></a>
      </div>
  </div>

  <div class="row text-center mt-5">
    <div class="col-12">
      <p class="text-credit">Pedro Gonoring - {{ anoAtual }} ©</p>
    </div>
  </div>

</div>
