/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
.link-external {
  color: #44DA77;
  text-decoration: none;
  font-weight: bold;
}

.link-external:hover {
  color: #32a859;
}
