<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="title-about">Sobre Mim</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row mt-5">
        <div class="col-12 col-md-8">
          <p class="text-about">
            Sou formado em Sistemas de Informação e atualmente trabalho na
            <a class="link-external" href="https://www.autoglass.com.br/" target="_blank">Autoglass,</a>
            como Full Stack Developer, na área de desenvolvimento de software.
            Minha equipe utiliza a metodologia Scrum, na qual tenho sólido domínio.
            Sou apaixonado por criar sistemas web altamente escaláveis e com excelente responsividade,
            desde a criação do front-end e back-end até a realização do deploy.
          </p>
          <p class="text-about">
            <strong>Curiosidade:</strong> Já tive a oportunidade de participar de hackathons, onde pude
            trabalhar em equipe e desenvolver soluções tecnológicas inovadoras. <a class="link-external" href="https://app.shawee.io/@pedrohenriquegonorin" target="_blank">Perfil Shawee.</a>
          </p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <h5 class="title-secundary">Minha Formação Profissional</h5>
        </div>
        <div class="col-12">
          <img src="assets/uvv-alura.png" alt="Logo Universidade Vila Velha" class="img-fluid img-academy">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row mt-5">
        <div class="col-12">
          <h5 class="title-secundary">Minhas Skills</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-9">
          <div class="row mb-1" *ngFor="let skill of minhasSkills">
            <div class="col-9 mt-1">
              <div class="progress-skil-base">
                <div class="progress-skil-fill" [style.width]="skill.NivelHabilidade"></div>
              </div>
            </div>
            <div class="col-3">
              <label class="text-skil">{{skill.Nome}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
